.saved-news {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: #1a1b22;
  padding: 62px 0;
}

@media all and (max-width: 768px) {
  .saved-news {
    padding: 24px 0 32px 0;
  }
}