.button {
  height: 64px;
  background: #2f71e5;
  border: 1px solid #2f71e5;
  border-radius: 64px;
  color: white;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.button:focus {
  background: #2a65cc;
  border: 1px solid #2a65cc;
}