@import url(./__avatar/about__avatar.css);
@import url(./__description/about__description.css);
@import url(./__text/about__text.css);

.about {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}