@import url(../../title/title.css);
@import url(../../button/button.css);
@import url(../_button/main-results_button.css);

.main-results__content {
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}