.search__title {
  width: 100%;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: white;
  margin-top: 80px;
  margin-bottom: 32px;
}

@media all and (max-width: 890px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    margin-top: 38px;
    margin-bottom: 16px;
  }
}

@media all and (max-width: 508px) {
  .search__title {
    margin-top: 30px;
  }
}
