.button_theme-blue {
  height: 64px;
  background: #2f71e5;
  border: 1px solid #2f71e5;
  border-radius: 64px;
  color: white;
}

@media all and (max-width: 768px) {
  .button_theme-blue {
    height: 56px;
    border-radius: 56px;
  }
}