.button_theme-dark {
  height: 48px;
  background: transparent;
  border: 1px solid #1a1b22;
  border-radius: 48px;
  color: #1a1b22;
  margin: 19px 0 13px;
}

.button_theme-dark:hover {
  opacity: .7;
}

@media all and (max-width: 768px) {
  .button_theme-dark {
    height: 40px;
    border-radius: 40px;
    margin: 14px 0 12px;
    border: 1px solid #d1d2d6;
  }
}