.footer__icon {
  margin-left: 28px;
}

.footer__icon:hover {
  opacity: .7;
}

@media all and (max-width: 846px) {
  .footer__icon {
    margin-left: 25px;
  }
}

@media all and (max-width: 737px) {
  .footer__icon {
    order: 1;
  }
}