.popup__content {
  width: 430px;
  min-height: 380px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media all and (max-width: 508px) {
  .popup__content {
    width: 100%;
    min-height: 560px;
    padding: 16px 16px 0;
    position: absolute;
    top: 57px;
  }
}