.popup_api-error {
  position: absolute;
  bottom: 62px;
  left: 0;
  right: 0;
  text-align: center;
}

@media all and (max-width: 508px) {
  .popup_api-error {
    position: relative;
    bottom: 0;
  }
}