.search__content {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media all and (max-width: 768px) {
  .search__content {
    width: 58.3%;
  }
}

@media all and (max-width: 508px) {
  .search__content {
    width: 89.1%;
  }
}