.article__bookmark-icon-black {
  background: url(../../../images/bookmark-icon_hover.svg) center no-repeat;
  background-color: transparent;
  border: none;
  outline-width: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: block;
}

.article__bookmark-icon-black:hover {
  opacity: .7;
}

@media all and (max-width: 949px) {
  .article__bookmark-icon-black {
    top: 8px;
    right: 8px;
  }
}

@media all and (max-width: 508px) {
  .article__bookmark-icon-black {
    top: 16px;
    right: 16px;
  }
}