.about__text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 24px 0 0;
}

@media all and (max-width: 508px) {
  .about__text {
    margin-top: 16px;
  }
}