<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сервис поиска новостей по запросу с возможностью сохранения найденных статей в личном кабинете">
  <meta name="author" content="Юлия Потапова">
  <title>NewsExplorer</title>
  <link rel="icon" href="<%= require('./images/favicon.ico').default %>">
  <link rel="stylesheet" href="./vendor/normalize.css">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css%>">
</head>
<body class="theme-gray">
  <div class="page">

    <!----------------- Главный блок с фоновой картинкой (хэдер + блок поиска статей) --------------->
    <div class="main-block">
      <!------------------------------------------ Хэдер -------------------------------------------->
      <header class="header header_view">
        <div class="header__content">
          <span class="logo">NewsExplorer</span>
          <nav class="header__nav">
            <a class="header__main header_item-is-active" href="index.html" target="_blank">Главная</a>
            <a class="header__articles" href="articles.html" target="_blank">Сохранённые статьи</a>
            <button class="button button_theme-clear header_button-auth is-closed">Авторизоваться</button>
            <button class="button button_theme-clear header_button-log-out">
              <span class="header__button-log-out-text">Грета</span>
              <img class="header__button-log-out-icon" src="<%= require('./images/log-out-icon.svg').default %>" alt="">
            </button>
          </nav>
        </div>
      </header>
      <!---------------------------------------Хэдер на мобилке------------------------------------->
      <header class="header-mobile header-mobile_view">
        <div class="header__content">
          <span class="logo">NewsExplorer</span>
          <img class="header-mobile__menu-icon" src="<%=require('./images/menu-icon.svg').default%>" alt="меню">
          <img class="header-mobile__menu-icon is-closed" src="<%=require('./images/close-menu.svg').default%>" alt="закрыть">
        </div>
      </header>
      <!------------------------------------Меню хэдера на мобилке---------------------------------->
      <div id="menu-popup" class="popup menu-popup header-mobile_view is-closed">
        <div class="menu-popup__header">
          <span class="logo">NewsExplorer</span>
          <img class="menu-popup__close-icon" src="<%=require('./images/close-menu.svg').default%>" alt="закрыть">
        </div>
        <div class="menu-popup__content">
          <a class="header__main" href="index.html" target="_blank">Главная</a>
          <a class="header__articles" href="articles.html" target="_blank">Сохранённые статьи</a>
          <button class="button button_theme-clear header_button-auth is-closed">Авторизоваться</button>
          <button class="button button_theme-clear header_button-log-out menu-popup_button-log-out">
            <span class="header__button-log-out-text">Грета</span>
            <img class="header__button-log-out-icon" src="<%=require('./images/log-out-icon.svg').default%>" alt="">
          </button>
        </div>
      </div>

      <!------------------------------------ Блок поиска статей ----------------------------------->
      <section class="search">
        <div class="search__content">
          <h1 class="search__title">Что в мире<br>творится?</h1>
          <p class="search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
          <div class="search__input-with-button">
            <input type="text" class="search__input" placeholder="Введите тему новости">
            <button class="button search__button button_theme-blue">Искать</button>
          </div>
        </div>
      </section>

    </div>

    <section class="main-results">
      <!--------------------------- Блок результатов с найденными статьями ------------------------>
      <div class="main-results__content">
        <h2 class="title">Результаты поиска</h2>
        <div class="articles-list">
          <!----------------- Карточка статьи 1 ---------------->
          <a class="article" href="#" target="_blank">
            <div class="article__image" style="background-image: url(<%=require('./images/image_08.jpg').default%>)">
              <div class="article__bookmark-icon"></div>
            </div>
            <span class="article__date">2 августа, 2019</span>
            <h3 class="article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться
              система национальных парков – охраняемых территорий, где и сегодня каждый может
              приобщиться к природе.
            </p>
            <span class="article__source">Лента.ру</span>
          </a>
          <!----------------- Карточка статьи 2 ---------------->
          <a class="article" href="#" target="_blank">
            <div class="article__image" style="background-image: url(<%=require('./images/image_04.jpg').default%>)">
              <div class="article__bookmark-icon-marked"></div>
            </div>
            <span class="article__date">2 августа, 2019</span>
            <h3 class="article__title">Лесные огоньки: история одной фотографии</h3>
            <p class="article__text">
              Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы
              запечатлеть ускользающую красоту одного из местных чудес природы.
            </p>
            <span class="article__source">Медуза</span>
          </a>
          <!---------------- Карточка статьи 3 ----------------->
          <a class="article" href="#" target="_blank">
            <div class="article__image" style="background-image: url(<%=require('./images/image_07.jpg').default%>)">
              <div class="article__bookmark-icon"></div>
            </div>
            <span class="article__date">2 августа, 2019</span>
            <h3 class="article__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
            <p class="article__text">
              Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости
              их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...
            </p>
            <span class="article__source">Риа</span>
          </a>
          <!---------------------------------------------------->
        </div>
        <button class="button main-results_button">Показать еще</button>
      </div>

      <!------------------------------ Блок результатов в процессе поиска ------------------------------->
      <div class="main-results__loading is-closed">
        <i class="main-results__circle-preloader"></i>
        <p class="main-results__info-message">Идет поиск новостей...</p>
      </div>

      <!-------------------------- Блок результатов, когда ничего не найдено> --------------------------->
      <div class="main-results__not-found is-closed">
        <img class="main-results__not-found-image" src="<%=require('./images/not-found_v1.svg').default%>" alt="изоражение печальной лупы"></img>
        <h3 class="main-results__not-found-title">Ничего не найдено</h3>
        <p class="main-results__info-message">К сожалению, по вашему запросу<br>ничего не найдено.</p>
      </div>

    </section>

    <!------------------------------------------ Блок о себе> --------------------------------------->
    <section class="about">
      <div class="about__content">
        <img class="about__avatar" src="<%=require('./images/avatar_.jpg').default%>" alt="фото автора">
        <div class="about__description">
          <h2 class="title">Об авторе</h2>
          <p class="about__text">
            Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь,
            какими технологиями разработки владеете.<br><br>
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь
            потенциальным заказчикам.
          </p>
        </div>
      </div>
    </section>

    <!--------------------------------------------- Подвал ------------------------------------------>
    <section class="footer">
      <div class="footer__content">
        <span class="footer__text">© 2020 Supersite, Powered by News API</span>
        <nav class="footer__links">
          <a class="footer__link" href="index.html" target="_blank">Главная</a>
          <a class="footer__link" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
        </nav>
        <a class="footer__icon" href="https://github.com/" target="_blank">
          <img src="<%=require('./images/github-icon.svg').default%>" alt="ссылка на github">
        </a>
        <a class="footer__icon" href="https://www.facebook.com/yandex.praktikum/" target="_blank">
          <picture>
            <source srcset="<%=require('./images/facebook-icon.svg').default%>" media="(max-width: 320px)"/>
            <source srcset="<%=require('./images/facebook-icon-circle.svg').default%>" media="(max-width: 768px)"/>
            <img src="<%=require('./images/facebook-icon.svg').default%>" alt="ссылка на facebook">
          </picture>
        </a>
      </div>
    </section>

    <!---------------------------------------- Форма входа ----------------------------------------->
    <div id="popup-entry" class="popup is-closed">
      <div class="popup__content">
        <img class="popup__close" src="<%=require('./images/close.svg').default%>" alt="закрыть">
        <h3 class="popup__title">Вход</h3>
        <form class="popup__form" name="entry">

          <span class="popup__inputs-name">Email</span>
          <input type="email" name="email" class="popup__input" placeholder="Введите почту">
          <p id="entry_error-email" class="error-message is-invisible">Неправильный формат email</p>

          <span class="popup__inputs-name">Пароль</span>
          <input type="password" name="password" class="popup__input" placeholder="Введите пароль">
          <p id="entry_error-password" class="error-message is-invisible">Пароль обязателен</p>

          <button name="submit" class="button popup__button button_not-active">Войти</button>
          <button name="submit" class="button popup__button button_theme-blue is-closed">Войти</button>

        </form>
        <span class="popup__alternative">
          или
          <a class="popup__link" href="#">Зарегистрироваться</a>
        </span>
      </div>
    </div>

    <!------------------------------------- Форма регистрации -------------------------------------->
    <div id="popup-registration" class="popup is-closed">
      <div class="popup__content">
        <img class="popup__close" src="<%=require('./images/close.svg').default%>" alt="закрыть">
        <h3 class="popup__title">Регистрация</h3>
        <form class="popup__form" name="registration">

          <span class="popup__inputs-name">Email</span>
          <input type="email" name="email" class="popup__input" placeholder="Введите почту">
          <p id="registration_error-email" class="error-message is-invisible">Неправильный формат email</p>

          <span class="popup__inputs-name">Пароль</span>
          <input type="password" name="password" class="popup__input" placeholder="Введите пароль">
          <p id="registration_error-password" class="error-message is-invisible">это на всякий случай</p>

          <span class="popup__inputs-name">Имя</span>
          <input type="text" name="name" class="popup__input" placeholder="Введите своё имя">
          <p id="registration_error-name" class="error-message is-invisible">и это наверняка пригодится</p>

          <p id="registration_error-user" class="error-message popup_error-already-exist is-invisible">Такой пользователь уже есть</p>

          <button name="submit" class="button popup__button button_not-active">Зарегистрироваться</button>
          <button name="submit" class="button popup__button button_theme-blue is-closed">Зарегистрироваться</button>

        </form>
        <span class="popup__alternative">
          или
          <a class="popup__link" href="#">Войти</a>
        </span>
      </div>
    </div>

    <!------------------------------ Сообщение об успешной регистрации ------------------------------->
    <div id="popup-success" class="popup is-closed">
      <div class="popup__content popup__content_success">
        <img class="popup__close" src="<%= require('./images/close.svg').default %>" alt="закрыть">
        <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
        <a class="popup__link popup__link_success" href="#">Выполнить вход</a>
      </div>
    </div>

  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
