@import url(./__content/header__content.css);
@import url(./__nav/header__nav.css);
@import url(./__main/header__main.css);
@import url(./_button-log-out/header_button-log-out.css);
@import url(./__button-log-out-icon/header__button-log-out-icon.css);
@import url(./__articles/header__articles.css);

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media all and (max-width: 768px) {
  .header {
    font-size: 16px;
  }
}