.main-results_button {
  min-width: 288px;
  min-height: 64px;
  background: white;
  border: 1px solid white;
  border-radius: 64px;
  color: #1a1b22;
  align-self: center;
  display: block;
}

@media all and (max-width: 768px) {
  .main-results_button {
    min-width: 240px;
    min-height: 56px;
  }
}