.header__button-log-out {
  height: 48px !important;
  background: transparent !important;
  border: 1px solid white !important;
  margin: 19px 0 13px;
  padding: 0 50px 0 19px;
  color: white;
  position: relative;
}